<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestNGSuite">
    <test name="TestNGTests">
        <classes>
            <class name="org.example.Basics" />
            <class name="org.example.Basics2">
<!--                <methods>
                    <include name="base.*"></include>
                    <exclude name="base.*"></exclude>
                </methods>
                <methods>
                    <include name="base5"></include>
                    <exclude name="base5"></exclude>
                </methods>-->
            </class>
        </classes>
    </test>
    
<!--    <test name ="Annotate">
        <classes>
            <class name="org.example.Annotations"></class>
        </classes>
    </test>-->
</suite>